In [31]:
import numpy as np
import pandas as pd
from keras.models import Sequential
from keras.layers import Dense
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder

In [32]:
df = pd.read_csv('./data/tips.csv',index_col='UID',encoding = "ISO-8859-1")
df.head()

,ID,Tipster,Date,Track,Horse,Bet Type,Odds,Result,TipsterActive
UID,,,,,,,,,
1,1,Tipster A,24/07/2015,Ascot,Fredricka,Win,8.00,Lose,True
2,2,Tipster A,24/07/2015,Thirsk,Spend A Penny,Win,4.50,Lose,True
3,3,Tipster A,24/07/2015,York,Straightothepoint,Win,7.00,Lose,True
4,4,Tipster A,24/07/2015,Newmarket,Miss Inga Sock,Win,5.00,Lose,True
5,5,Tipster A,25/07/2015,Ascot,Peril,Win,4.33,Win,True

In [33]:
cat_var = df.dtypes.loc[df.dtypes=='object'].index

le = LabelEncoder()
for var in cat_var:
    df[var] = le.fit_transform(df[var])

In [34]:
X = df[['Tipster', 'Track', 'Horse', 'Bet Type', 'Odds']].values
y = df.Result.values

In [35]:
X_train,X_test,y_train,y_test = train_test_split(X, y, test_size=0.20)

In [42]:
print(X_train.shape)
print(X_test.shape)

(30598, 5)
(7650, 5)

In [37]:
model = Sequential()

In [38]:
model.add(Dense(10, input_dim=5, kernel_initializer='normal', activation='relu'))
model.add(Dense(1, kernel_initializer='normal', activation='sigmoid'))

In [39]:
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [43]:
model.fit(X_train, y_train)

Epoch 1/10
30598/30598 [==============================] - 2s - loss: 0.4944 - acc: 0.7983
Epoch 2/10
30598/30598 [==============================] - 2s - loss: 0.4933 - acc: 0.7985
Epoch 3/10
30598/30598 [==============================] - 2s - loss: 0.4940 - acc: 0.7986
Epoch 4/10
30598/30598 [==============================] - 2s - loss: 0.4933 - acc: 0.7985
Epoch 5/10
30598/30598 [==============================] - 2s - loss: 0.4934 - acc: 0.7985
Epoch 6/10
30598/30598 [==============================] - 2s - loss: 0.4942 - acc: 0.7985
Epoch 7/10
30598/30598 [==============================] - 2s - loss: 0.4935 - acc: 0.7985
Epoch 8/10
30598/30598 [==============================] - 2s - loss: 0.4926 - acc: 0.7985
Epoch 9/10
30598/30598 [==============================] - 2s - loss: 0.4946 - acc: 0.7985
Epoch 10/10
30598/30598 [==============================] - 2s - loss: 0.4928 - acc: 0.7985

In [47]:
score = model.evaluate(X_test, y_test)
score[1]

5536/7650 [====================>.........] - ETA: 0s

0.80143790849673202